@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #FECEE1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../img/pinkbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-container {
    position: fixed;
    top: 10px;
    left: 10px;
}

.btn-top {
    padding: 10px 20px;
    background-color: white;
    color: #fd5198;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

.btn-top:hover {
    background-color: #fd5198;
    color: white;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 600px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.grupo-input {
    flex: 1;
    margin-right: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.botao {
    background-color: #fd5198;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #ff38f8;
}

.botao.limpar {
    background-color: #ddd;
    color: #333;
}

.botao.limpar:hover {
    background-color: #bbb;
}
